.card
    .card-body
        button.btn.btn-outline-primary.mb-1(type='button', data-bs-toggle='tooltip', data-bs-placement='top', title='Tooltip on top')
            | Tooltip on top
        button.btn.btn-outline-primary.mb-1(type='button', data-bs-toggle='tooltip', data-bs-placement='right', title='Tooltip on right')
            | Tooltip on right
        button.btn.btn-outline-primary.mb-1(type='button', data-bs-toggle='tooltip', data-bs-placement='bottom', title='Tooltip on bottom')
            | Tooltip on bottom
        button.btn.btn-outline-primary.mb-1(type='button', data-bs-toggle='tooltip', data-bs-placement='left', title='Tooltip on left')
            | Tooltip on left    